{% if is_paginated %}
<div class="mt-8 flex items-center justify-start">
    <!-- Previous Button -->
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"
        class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        &larr; Previous
    </a>
    {% endif %}

    <!-- Page Numbers -->
    <div class="hidden md:block mx-4">
        <p class="text-sm text-gray-700">
            Page <span class="font-medium">{{ page_obj.number }}</span> of <span class="font-medium">
                {{ page_obj.paginator.num_pages }}</span>
        </p>
    </div>

    <!-- Next Button -->
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"
        class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        Next &rarr;
    </a>
    {% endif %}
</div>
{% endif %}